
.navbar {
    background: #1ed6ae;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
  }
  
  .nav-item {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bolder;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  